TELEBIRR_ENV=sandbox
TELEBIRR_ENABLED=true
TELEBIRR_MERCHANT_PHONE=0977832379
TELEBIRR_MERCHANT_NAME=Menelik
TELEBIRR_MIN_DEPOSIT=10
TELEBIRR_MAX_DEPOSIT=50000
TELEBIRR_BASE_URL=
TELEBIRR_CREATE_ORDER_PATH=
TELEBIRR_QUERY_ORDER_PATH=
TELEBIRR_FABRIC_APP_ID=
TELEBIRR_MERCHANT_APP_ID=
TELEBIRR_MERCHANT_CODE=
TELEBIRR_APP_SECRET=
TELEBIRR_PRIVATE_KEY=
TELEBIRR_SHORT_CODE=
TELEBIRR_WEBHOOK_SECRET=
TELEBIRR_NOTIFY_URL=
TELEBIRR_RETURN_URL=
TELEBIRR_TIMEOUT=30m
